<div class="input-group">
    {% set type = 'text' %}
    {{ form_field(field, {'placeholder': 'Search'|trans}) }}
    <span class="input-group-btn">
        <button class="btn btn-default search-button" type="button">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </span>
</div>