<div class="input-group">
    {% set type = 'text' %}
    {{ form_field(field) }}
    <span class="input-group-btn">
        <button class="btn btn-default slug_refresh_button" type="button">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </span>
</div>