$header-base-color: #c9dccb;
$header-text-color: darken($header-base-color, 40);
$panel-header-color: #f6f2eb;

h1, h2, h3, h3, h5, h6 {
  font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif;
}

a {
  color: $header-text-color;
}

.panel, .panel-heading {
  border-radius: 0px;
}

.panel-default {
  border-color: darken($panel-header-color, 5);

  .panel-heading {
    background-color: $panel-header-color;
    color: darken($panel-header-color, 40);
  }
}

.btn-link {
  color: $header-text-color;
}

.header {
    background-color: $header-base-color;
    color: $header-text-color;
}

.header a {
    color: $header-text-color;
    text-decoration: none;
}

.header a:hover {
    text-decoration: none;
    color: lighten($header-text-color, 10);
}

.header h1 {
    margin-top: 0px;
}

.logo-image {
  margin: 10px 0px;
}

.blog-post-container {
    border-bottom: 2px solid #e5e6e7;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

footer {
    margin-top: 10px;
}

select[name=author] {
    width: 500px;
}

.avcms-main {
    margin-top: 10px;
}

.main-menu {
  margin-bottom: 0px;
  background-color: darken($header-base-color, 2);
  color: $header-text-color;
  border-bottom: 0px;

  .navbar-nav>li>a, .navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    color: $header-text-color;
  }

  .navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
    background-color: lighten($header-base-color, 10);
    color: $header-text-color;
  }

  .navbar-collapse, .navbar-form {
    border-color: darken($header-base-color, 5);
  }

  .navbar-toggle {
    float: left;
    margin-left: 15px;
  }

  .navbar-toggle:focus, .navbar-toggle:hover {
    background: none;
  }
}

.search-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 120px!important;
  border-left:0px;
  border-radius: 0px;
  float: none!important;
  vertical-align: middle!important;
  display: inline!important;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 5px;
  padding: 0px 6px 2px 6px;
  margin: 10px 10px 0px 0px;
  box-shadow: #595959 0px 0px 1px;
  display: none;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: white;
  }
}

.copyright {
  text-align: center;
  margin-bottom: 8px;
}
