h1, h2, h3, h3, h5, h6 {
  font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif; }

a {
  color: #55845a; }

.panel, .panel-heading {
  border-radius: 0px; }

.panel-default {
  border-color: #eee7d9; }
  .panel-default .panel-heading {
    background-color: #f6f2eb;
    color: #b7975e; }

.btn-link {
  color: #55845a; }

.header {
  background-color: #c9dccb;
  color: #55845a; }

.header a {
  color: #55845a;
  text-decoration: none; }

.header a:hover {
  text-decoration: none;
  color: #6ca072; }

.header h1 {
  margin-top: 0px; }

.logo-image {
  margin: 10px 0px; }

.blog-post-container {
  border-bottom: 2px solid #e5e6e7;
  margin-bottom: 10px;
  padding-bottom: 5px; }

footer {
  margin-top: 10px; }

select[name=author] {
  width: 500px; }

.avcms-main {
  margin-top: 10px; }

.main-menu {
  margin-bottom: 0px;
  background-color: #c3d8c5;
  color: #55845a;
  border-bottom: 0px; }
  .main-menu .navbar-nav > li > a, .main-menu .navbar-nav > li > a:hover, .main-menu .navbar-nav > li > a:focus {
    color: #55845a; }
  .main-menu .navbar-nav > .open > a, .main-menu .navbar-nav > .open > a:hover, .main-menu .navbar-nav > .open > a:focus {
    background-color: #e8f0e9;
    color: #55845a; }
  .main-menu .navbar-collapse, .main-menu .navbar-form {
    border-color: #bad2bc; }
  .main-menu .navbar-toggle {
    float: left;
    margin-left: 15px; }
  .main-menu .navbar-toggle:focus, .main-menu .navbar-toggle:hover {
    background: none; }

.search-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 120px !important;
  border-left: 0px;
  border-radius: 0px;
  float: none !important;
  vertical-align: middle !important;
  display: inline !important; }

.loader {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 5px;
  padding: 0px 6px 2px 6px;
  margin: 10px 10px 0px 0px;
  box-shadow: #595959 0px 0px 1px;
  display: none; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white; } }
