{% extends '@admin/edit_item.twig' %}

{% block title -%}
    {% spaceless %}
        {% if item.id %}
            Editing {{ item.title }}
        {% else %}
            {% trans %}New Post{% endtrans %}
        {% endif %}
    {% endspaceless  %}
{% endblock %}

{% block editor_title_edit %}
    <span class="light">{% trans %}Editing Post{% endtrans %}:</span> <span data-id="{{ item.id }}" data-field="title">{{ item.title }}</span>
{% endblock %}

{% block editor_title_new %}
    {% trans %}New Post{% endtrans %}
{% endblock %}
