<p>
    <span style="font-size: 30px">{{ total_videos }}</span>
    {% trans %}Videos{% endtrans %}
</p>

<p>
    <span style="font-size: 30px">{{ total_plays|default(0) }}</span>
    {% trans %}Plays{% endtrans %}
</p>

<p>
    <span style="font-size: 30px">{{ total_likes|default(0) }}</span>
    {% trans %}Likes{% endtrans %}
</p>
