{% extends 'index.twig' %}

{% block title %}{% trans %}Forgot Password{% endtrans %}{% endblock %}

{% block content %}
    <div class="box forgot-password-container">
        <div class="box-top">
            <h2>{{ block('title') }}</h2>
        </div>

        <div class="box-main">
            {{ form(password_reset_form) }}
        </div>
    </div>
{% endblock %}