{% extends '@Users/edit_profile.twig' %}

{% block edit_profile_form %}
    <h3>{% trans %}Password{% endtrans %}</h3>
    {{ form(password_form) }}

    <h3>{% trans %}Email{% endtrans %}</h3>
    {{ form(email_form) }}
{% endblock %}

{% block profile_active_tab %}{% endblock %}
{% block password_active_tab %}class="active"{% endblock %}
