{% extends 'index.twig' %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block meta_description %}{% trans %}Register to our website!{% endtrans %}{% endblock %}

{% block content %}
    <div class="box register-container">
        <div class="box-top">
            <h2>{{ block('title') }}</h2>
        </div>

        <div class="box-main">
            <p>{{ outlet('register.top') }}</p>

            <h4>{% trans %}New Account Details{% endtrans %}</h4>
            {% if registration.errors is not empty %}
                <div class="alert alert-danger">
                    {% for error in login_form.errors %}
                        {{ error.message }}<br />
                    {% endfor %}
                </div>
            {% endif %}

            {{ form(registration_form) }}
        </div>
    </div>
{% endblock %}
