{% extends "@Users/register.twig" %}

{% block content %}
    <div class="box">
        <div class="box-top">
            <h1>{% trans %}Registration Complete{% endtrans %}</h1>
        </div>

        <div class="box-main">
            {% if emailValidation %}
                <p>{% trans with {'email': user.email} %}Registration complete. A link has been sent to {email} for you to confirm your email address and activate your account.{% endtrans %}</p>
            {% else %}
                <p>{% trans %}Registration complete. You can now login.{% endtrans %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
