{% if profile_user.location %}
    <p><strong>{% trans %}Location{% endtrans %}:</strong> {{ profile_user.location }}</p>
{% endif %}

{% if profile_user.about %}
    <p><strong>{% trans %}About{% endtrans %}:</strong><br />
        {{ profile_user.about }}</p>
{% endif %}

{% if profile_user.interests %}
    <p><strong>{% trans %}Interests{% endtrans %}:</strong><br />
    {{ profile_user.interests }}</p>
{% endif %}

{% if profile_user.location == null and profile_user.about == null and profile_user.interests == null %}
    {% trans %}This user has not filled in their profile{% endtrans %}
{% endif %}