<p>{% trans %}Thanks for registering. Please validate your email address by clicking the link below.{% endtrans %}</p>

<p>{{ url('validate_email', {userId: emailKey.userId, code: emailKey.code}) }}</p>