.avcms-load-comments {
  width: 100%;
  text-align: center; }

.new-comment {
  margin-bottom: 15px; }

.avcms-comment .panel-body {
  word-wrap: break-word; }

.comment-replies {
  width: 90%;
  min-width: 300px;
  float: right; }
