{% extends 'index.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <div class="box">
        {% if page.showTitle %}
            <div class="box-top">
                <h2>{{ page.title }}</h2>
            </div>
        {% endif %}

        <div class="box-main">
            {{ page.content|raw }}
        </div>
    </div>
{% endblock %}
