<div class="list-group">
    {% for link in links %}
        <a href="{{ path('link_out', {'id': link.id}) }}" class="list-group-item">
            {{ link.anchor }}
        </a>
    {% endfor %}

    {% if settings.link_exchange %}
        <a href="{{ path('links') }}" class="list-group-item text-center" {% if settings.link_exchange_no_follow %}rel="nofollow"{% endif %}>
            {% trans %}Link Exchange{% endtrans %} <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    {% endif %}
</div>
