{% extends '@admin/edit_item.twig' %}

{% block title -%}
    {% spaceless %}
        {% if item.id %}
            {% trans with {'item': item.label} %}Editing {item}{% endtrans %}
        {% else %}
            {% trans %}New Menu{% endtrans %}
        {% endif %}
    {% endspaceless  %}
{% endblock %}

{% block editor_title_edit %}
    <span class="light">{% trans %}Editing Menu{% endtrans %}:</span> <span data-id="{{ item.id }}" data-field="label">{{ item.label }}</span>
{% endblock %}

{% block editor_title_new %}
    {% trans %}New Menu{% endtrans %}
{% endblock %}

{% block before_form %}
   {% if item.id is null %}
        <div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> {% trans %}Add a new menu that you can display in a module or by editing your template.{% endtrans %}</div>
    {% endif %}
{% endblock %}
