{% extends '@Videos/admin/edit_video.twig' %}

{% block title -%}{% trans %}Review Video Submission{% endtrans %}: {{ item.name }}{% endblock %}

{% block editor_title %}
    <span class="light">{% trans %}Review Video Submission{% endtrans %}:</span> <span data-id="{{ item.id }}" data-field="name">{{ item.name }}</span>
{% endblock %}
