<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">{% trans %}Image{% endtrans %}</h1>
    </div>
    <div class="panel-body">
        {{ form_rows_before(form, 'image_thumbnail') }}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">{% trans %}Thumbnail{% endtrans %}</h1>
    </div>
    <div class="panel-body">
        {{ form_rows_between(form, 'image_thumbnail', 'thumbnail') }}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">{% trans %}Details{% endtrans %}</h1>
    </div>
    <div class="panel-body">
        {{ form_rows_between(form, 'name', 'slug') }}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">{% trans %}Publish{% endtrans %}</h1>
    </div>
    <div class="panel-body">
        {{ form_rows_after(form, 'slug') }}
    </div>
</div>
