{% extends '@Images/admin/edit_image_collection.twig' %}

{% block title -%}{% trans %}Review Image Submission{% endtrans %}: {{ item.name }}{% endblock %}

{% block editor_title %}
    <span class="light">{% trans %}Review Image Submission{% endtrans %}:</span> <span data-id="{{ item.id }}" data-field="name">{{ item.name }}</span>
{% endblock %}
