{% extends 'index.twig' %}

{% block title %}{% trans %}Link Exchange{% endtrans %}{% endblock %}

{% block content %}
    <h2>{{ block('title') }}</h2>

    {% if form.isSubmitted() == false %}
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-info-sign"></span>
            {% trans %}Submit your site for a link exchange. After submission you will be given a unique referral URL to add to your site. The more traffic you send to us, the higher your link will appear on our site.{% endtrans %}
        </div>
    {% endif %}

    {{ form(form) }}
{% endblock %}
