<p>{% trans %}Your resolution{% endtrans %}: <a href="#" class="current-res-browse-link"></a></p>

{% for category, resolutions in resolution_categories %}
    <div class="row module-resolutions">
        <div class="col-xs-12">
            <p><strong>{{ category }}</strong></p>

            <p>
                {% for resolution_id, resolution_name in resolutions %}
                    <a data-browse-resolution="{{ resolution_id }}" href="{{ path('wallpaper_browse_resolution', {'resolution': resolution_id}) }}">{{ resolution_name }}</a><br/>
                {% endfor %}
            </p>
        </div>
    </div>
{% endfor %}
