<p>
    <span style="font-size: 30px">{{ total_wallpapers }}</span>
    {% trans %}Wallpapers{% endtrans %}
</p>

<p>
    <span style="font-size: 30px">{{ total_hits }}</span>
    {% trans %}Hits{% endtrans %}
</p>

<p>
    <span style="font-size: 30px">{{ total_downloads }}</span>
    {% trans %}Downloads{% endtrans %}
</p>

<p>
    <span style="font-size: 30px">{{ total_likes }}</span>
    {% trans %}Likes{% endtrans %}
</p>
