{% extends '@admin/edit_item.twig' %}

{% block title %}
    {% if item.id %}
        Editing {{ item.title }}
    {% else %}
        New Post
    {% endif %}
{% endblock %}

{% block editor_title_edit %}
    <span class="light">Editing Post:</span> <span data-id="{{ item.id }}" data-field="title">{{ item.title }}</span>
{% endblock %}

{% block editor_title_new %}
    New Post
{% endblock %}