<div class="panel panel-default">
    {% if module.showHeader %}
        <div class="panel-heading">
            <h3 class="panel-title">{{ module.title }}</h3>
        </div>
    {% endif %}
    {{ module.content|raw }}
</div>