<div class="panel">
    {% if module.showTitle %}
        <div class="panel-heading">
            <h3 class="panel-title">{{ module.title }}</h3>
        </div>
    {% endif %}
    <div class="panel-body">
        {{ module.content }}
    </div>
</div>