$header-base-color: #c9dccb;
$header-text-color: darken($header-base-color, 40);
$panel-header-color: #eceffc;
$base-color: #326883;
$background-color: #4d79e5;

body {
  background-color: #dfdfdf;
}


.header {
  background-color: $background-color;
  border-bottom: 4px solid lighten($background-color, 20);

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #dbdbdb;
  }

  h1 {
    margin-top: 0px;
  }

  .user-area {
    .user-area-inner {
      margin-top: 5px;
    }

    .label-default {
      background-color: white;
      color: $background-color;
    }
  }
}

.header-extra {
  background-color: lighten($header-base-color, 15);
}

.logo-text {
  margin-top: 15px;
}

.logo-image {
  margin: 10px 0px;
}

.blog-post-container {
    border-bottom: 2px solid #e5e6e7;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

footer {
  margin-top: 10px;
  padding-top: 10px;
  background-color: $background-color;
  border: 4px solid lighten($background-color, 10);
}

.footer-menu {
  text-align: center;
  margin-bottom: 10px;
}

.copyright {
  margin-top: 10px;
  margin-bottom: 5px;

  a {
    color: #494949;
  }
}

select[name=author] {
    width: 500px;
}

.avcms-main {
  background-color: white;
}

.main-menu {
  margin-bottom: 0px;
  color: white;
  border-bottom: 0px;

  .navbar {
    margin-bottom: 0;
  }

  .navbar-toggle {
    float: left;
    margin-left: 15px;
  }

  .navbar-toggle:focus, .navbar-toggle:hover {
    background: none;
  }

  .btn {
    height: 31px;
  }
}

.search-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 120px!important;
  border-left:0px;
  border-radius: 0px;
  float: none!important;
  vertical-align: middle!important;
  display: inline!important;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 5px;
  padding: 0px 6px 2px 6px;
  margin: 10px 10px 0px 0px;
  box-shadow: #595959 0px 0px 1px;
  display: none;
}

@media (min-width: 992px) {
  .header {

    .user-area {
      text-align: right;

      .user-area-inner {
        margin-top: 12px;
        padding: 10px 0 0 0;
        display: inline-block;
        border-radius: 4px;
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    margin-bottom: 15px;
  }

  .avcms-main {
    padding-top: 10px;
    border: 4px solid #ccc;
  }
}

.copyright {
  text-align: center;
  margin-bottom: 8px;
}

// PANELS



// BOXES

.box {
  margin-bottom: 15px;
}

.box-primary {
  .box-top {
    padding: 10px;

    h1, h2, h3, h4, h5, h6 {
      font-weight: normal;
    }
  }

  .box-main {
    padding: 15px;
  }
}
