{% extends '@email/main.twig' %}

{% block content %}
    <p>{% trans %}You have requested a password reset for your account on{% endtrans %} <a href="{{ url('home') }}">{{ settings.site_name }}</a>.</p>

    <p style="font-weight: bold"><a href="{{ url('user_forgot_password_process', {userId: reset.userId, code: reset.code}) }}">{% trans %}Reset my password{% endtrans %}</a></p>

    <p>{% trans %}If you did not request this password reset ignore this email.{% endtrans %}</p>
{% endblock %}