{% for tag in tags %}
    <a href="{{ path(route_name, {(route_param): tag.name}) }}" style="font-size: {{ tag.size }}px">{{ tag.name }}</a>
{% else %}
    {% trans %}No tags{% endtrans %}
{% endfor %}
