{% extends 'index.twig' %}

{% block content %}
    <div class="row">
    {% for wallpaper in wallpapers %}
        <div class="col-md-6">
            <a class="thumbnail" href="{{ url('wallpaper_details', {slug: wallpaper.slug}) }}">
                <img src="{{ wp_thumbnail_url(wallpaper, 300, 120) }}" width="100%"/>
                <h5>{{ wallpaper.name }}</h5>
            </a>
        </div>
    {% else %}
        <div class="well well-lg">{% trans %}No Wallpapers Found{% endtrans %}</div>
    {% endfor %}
    </div>

    {% block wallpapers_pagination %}
        {{ pagination(total_pages, current_page, 'browse_wallpapers') }}
    {% endblock %}
{% endblock %}
