{% extends 'index.twig' %}

{% block title %}
    {% trans %}Submit Wallpaper{% endtrans %}
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-top">
            <h2>{% trans %}Submit a Wallpaper Image{% endtrans %}</h2>
        </div>

        <div class="box-main">
            {% if form.isSubmitted() == false %}
                <div class="alert alert-info">
                    <span class="glyphicon glyphicon-info-sign"></span> {% trans %}Submit a wallpaper for us to use on our site! By submitting a wallpaper you give us full permission to use the image on our website.{% endtrans %}
                </div>
            {% endif %}

            {% if form.isValid() == false %}
                {{ form(form) }}
            {% else %}
                <div class="alert alert-success">
                    {% trans %}Thanks for your submission, it's now pending review.{% endtrans %} <a href="{{ path('wallpaper_submit') }}">{% trans %}Click here to submit another image{% endtrans %}</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
