{% extends '@admin/finder.twig' %}

{% block finder_header_titles %}

{% endblock %}

{% block item_title %}
    <div class="finder-item-title" data-field="name">
        {{ item.name }}
    </div>
{% endblock %}

{% block item_options %}
    <div class="btn-group">
        {{ buttons.edit('wallpapers_admin_edit', item.id) }}

        {{ buttons.delete('wallpapers_admin_delete') }}
    </div>
{% endblock %}

{% block item_extended_inner %}

{% endblock %}