{% extends 'index.twig' %}

{% block content %}
    <h1>{{ wallpaper.name }}</h1>

    <p>
        <img src="{{ wp_thumbnail_url(wallpaper, 896, 504) }}" alt="{{ wallpaper.name }}" width="100%" class="img-thumbnail" />
    </p>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans %}Resolutions{% endtrans %}</h3>
        </div>
        <div class="panel-body">
            Rresoes
        </div>
    </div>

{% endblock %}
