.header {
  background-color: darkslateblue;
  color: white; }

.header a {
  color: #fff;
  text-decoration: none; }

.header a:hover {
  text-decoration: none;
  color: #c7b9ff; }

.header h1 {
  font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif !important; }

.logo-image {
  margin: 10px 0px; }

.blog-post-container {
  border-bottom: 1px solid #a7a8cd;
  margin-bottom: 10px;
  padding-bottom: 5px; }

footer {
  margin-top: 10px; }

select[name=author] {
  width: 500px; }

.avcms-main {
  margin-top: 10px; }

.main-menu {
  margin-bottom: 0px;
  background-color: #51459d;
  color: white;
  border-bottom: 0px; }
  .main-menu .navbar-nav > li > a, .main-menu .navbar-nav > li > a:hover, .main-menu .navbar-nav > li > a:focus {
    color: white; }
  .main-menu .navbar-nav > .open > a, .main-menu .navbar-nav > .open > a:hover, .main-menu .navbar-nav > .open > a:focus {
    background-color: #5a4dae;
    color: white; }
  .main-menu .navbar-collapse, .main-menu .navbar-form {
    border-color: #3f3579; }

.search-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 120px !important;
  border-left: 0px;
  border-radius: 0px;
  float: none !important;
  vertical-align: middle !important;
  display: inline !important; }

.loader {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 5px;
  padding: 0px 6px 2px 6px;
  margin: 10px 10px 0px 0px;
  box-shadow: #595959 0px 0px 1px;
  display: none; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white; } }
