<div class="wrapper">
    <div class="imagecontent">
        <image id="example_image_1" class="image-js vjs-default-skin vjs-big-play-centered"
               controls preload="auto" width="auto" height="auto"
               poster="http://image-js.zencoder.com/oceans-clip.png"
               data-setup='{"example_option":true}'>
            <source src="http://image-js.zencoder.com/oceans-clip.mp4" type='image/mp4' />
            <source src="http://image-js.zencoder.com/oceans-clip.webm" type='image/webm' />
            <source src="http://image-js.zencoder.com/oceans-clip.ogv" type='image/ogg' />
            <p class="vjs-no-js">To view this image please enable JavaScript, and consider upgrading to a web browser that <a href="http://imagejs.com/html5-image-support/" target="_blank">supports HTML5 image</a></p>
        </image>
    </div>
</div>

<style type="text/css">
    .image-js {padding-top: 56.25%}
    .vjs-fullscreen {padding-top: 0px}
</style>
