{% extends 'index.twig' %}

{% block title %}
    {% trans %}Submit Images{% endtrans %}
{% endblock %}

{% block content %}
    <h2>{{ block('title') }}</h2>

    {% if form.isSubmitted() == false %}
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-info-sign"></span> {% trans %}Submit images for us to use on our site! By submitting images you give us full permission to use them on our website.{% endtrans %}
        </div>

        <div class="alert alert-info">
            <span class="glyphicon glyphicon-info-sign"></span> {% trans with {size: settings.images_submission_filesize} %}Images must be under {size} MB each{% endtrans %}
        </div>

        <div class="alert alert-info">
            <span class="glyphicon glyphicon-info-sign"></span>
            {% trans with {width: settings.images_submission_width_limit, height: settings.images_submission_height_limit} %}
                Images must have a resolution no larger than {width}x{height}
            {% endtrans %}
        </div>
    {% endif %}

    {% if form.isValid() == false %}
        {{ form(form) }}
    {% else %}
        <div class="alert alert-success">
            {% trans %}Thanks for your submission, it's now pending review.{% endtrans %}
            <a href="{{ path('submit_image') }}" class="alert-link">
                {% trans %}Click here to submit more images{% endtrans %}
            </a>
        </div>
    {% endif %}
{% endblock %}
