{% extends '@DevTools/index.twig' %}

{% block title %}Add Content To Bundle: {{ bundle_config.name }}{% endblock %}

{% block content %}
    <p>
        <a href="{{ url('manage_bundle', {bundle: bundle_config.name}) }}"><span class="glyphicon glyphicon-arrow-left"></span> {{ bundle_config.name }} bundle home</a>
    </p>

    {% block manage_content %}
        {{ form_row(database_select_form.database_table, {style: 'width:100%', 'data-placeholder': 'Select a table'}) }}

        <div id="database-columns">
            {% block database_columns %}{% endblock %}
        </div>
    {% endblock %}
{% endblock %}
