h1, h2, h3, h3, h5, h6 {
  font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif;
  font-weight: 300; }

a {
  color: #6295dc; }

.panel, .panel-heading {
  border-radius: 0px; }

.panel-default {
  border-color: #ef6639; }
  .panel-default .panel-heading {
    background-color: #f17851;
    color: white; }

.btn-link {
  color: white; }

.header {
  background-color: #6295dc;
  color: white; }
  .header a {
    color: white;
    text-decoration: none; }
  .header a:hover {
    text-decoration: none;
    color: white; }
  .header a.label, .header a.label:hover {
    color: white; }
  .header h1 {
    margin-top: 0px; }
  .header .user-area .user-area-inner {
    margin-top: 5px; }

.header-extra {
  background-color: #a1bfea; }

.logo-text {
  margin-top: 15px; }

.logo-image {
  margin: 10px 0px; }

.blog-post-container {
  border-bottom: 2px solid #e5e6e7;
  margin-bottom: 10px;
  padding-bottom: 5px; }

footer {
  margin-top: 10px; }

.footer-menu {
  text-align: center;
  margin-bottom: 10px; }

select[name=author] {
  width: 500px; }

.avcms-main {
  margin-top: 10px; }

.main-menu {
  margin-bottom: 0px;
  background-color: #5a8fda;
  color: white;
  border-bottom: 0px; }
  .main-menu .navbar-nav > li > a, .main-menu .navbar-nav > li > a:hover, .main-menu .navbar-nav > li > a:focus {
    color: white; }
  .main-menu .navbar-nav > .open > a, .main-menu .navbar-nav > .open > a:hover, .main-menu .navbar-nav > .open > a:focus {
    background-color: #8cb1e5;
    color: white; }
  .main-menu .navbar-collapse, .main-menu .navbar-form {
    border-color: #4d87d7; }
  .main-menu .navbar-toggle {
    float: left;
    margin-left: 15px; }
  .main-menu .navbar-toggle:focus, .main-menu .navbar-toggle:hover {
    background: none; }

.search-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 120px !important;
  border-left: 0px;
  border-radius: 0px;
  float: none !important;
  vertical-align: middle !important;
  display: inline !important; }

.loader {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 5px;
  padding: 0px 6px 2px 6px;
  margin: 10px 10px 0px 0px;
  box-shadow: #595959 0px 0px 1px;
  display: none; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white; } }
@media (min-width: 992px) {
  .header .user-area {
    text-align: right; }
    .header .user-area .user-area-inner {
      margin-top: 15px;
      background-color: #77a3e1;
      padding: 4px 10px;
      display: inline-block;
      border: 1px solid #7ba6e2;
      border-radius: 4px; } }
.copyright {
  text-align: center;
  margin-bottom: 8px; }

.box {
  margin-bottom: 15px; }

.box-primary {
  border: 1px solid #ed5322; }
  .box-primary .box-top {
    background-color: #f17851;
    padding: 10px;
    border-bottom: 1px solid #ed5322;
    color: #6d2109; }
    .box-primary .box-top h1, .box-primary .box-top h2, .box-primary .box-top h3, .box-primary .box-top h4, .box-primary .box-top h5, .box-primary .box-top h6 {
      margin: 0px;
      font-weight: normal;
      color: #3e1305;
      font-family: "HelveticaNeue-Light", sans-serif; }
    .box-primary .box-top a {
      color: white; }
  .box-primary .box-main {
    padding: 15px; }
  .box-primary .box-footer {
    background-color: #f27f5a;
    padding: 10px; }
    .box-primary .box-footer .btn-default {
      border-color: #cc3e10;
      background: #f2835f;
      color: #3e1305; }
