{% extends '@admin/browser.twig' %}

{% block finder_title %}
    {% trans %}Reports{% endtrans %}
{% endblock %}

{% block finder %}
    <div data-url="{{ path('reports_finder') }}">
        {{ render(path('reports_finder')) }}
    </div>
{% endblock %}
