{% extends '@admin/edit_item.twig' %}

{% block title -%}
    {% spaceless %}
        {% if item.id %}
            Editing {{ item.adName }}
        {% else %}
            {% trans %}New Advert{% endtrans %}
        {% endif %}
    {% endspaceless  %}
{% endblock %}

{% block editor_title_edit %}
    <span class="light">{% trans %}Editing Advert{% endtrans %}:</span> <span data-id="{{ item.id }}" data-field="adName">{{ item.adName }}</span>
{% endblock %}

{% block editor_title_new %}
    New Advert
{% endblock %}

{% block form_rows %}
    {{ form_rows(form) }}
{% endblock %}