.panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4, .panel-heading h5, .panel-heading h6 {
  margin: 0px; }

.avcms-main .panel-primary {
  border: 1px solid #9b9acc;
  background-color: #eceaff; }
  .avcms-main .panel-primary .panel-heading {
    border-bottom: 1px solid #9b9acc;
    background-color: #6a68af;
    color: #fff; }
  .avcms-main .panel-primary .btn-default {
    background-color: #eceaff; }
  .avcms-main .panel-primary .list-group-item {
    background-color: #eceaff;
    border: none; }
  .avcms-main .panel-primary .list-group-item:nth-child(even) {
    background-color: #dedbff; }
