.header {
    background-color: darkslateblue;
    color: white;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.header a:hover {
    text-decoration: none;
    color: #c7b9ff;
}

.header h1 {
    font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif!important;

}

.logo-image {
  margin: 10px 0px;
}

.blog-post-container {
    border-bottom: 1px solid #a7a8cd;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

footer {
    margin-top: 10px;
}

select[name=author] {
    width: 500px;
}

.avcms-main {
    margin-top: 10px;
}

.main-menu {
  margin-bottom: 0px;
  background-color: lighten(darkslateblue, 5);
  color: white;
  border-bottom: 0px;

  .navbar-nav>li>a, .navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    color: white;
  }

  .navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
    background-color: lighten(darkslateblue, 10);
    color: white;
  }
}

.search-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 120px!important;
  border-left:0px;
  border-radius: 0px;
  float: none!important;
  vertical-align: middle!important;
  display: inline!important;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 5px;
  padding: 0px 6px 2px 6px;
  margin: 10px 10px 0px 0px;
  box-shadow: #595959 0px 0px 1px;
  display: none;
}