<div class="input-group">
    {{ form_field(finder_filters_form.search, {"class": "input-md", "placeholder": "Search", "autocomplete": "off"}) }}
    <span class="input-group-btn">
            <button class="btn btn-default clear-search" type="button"><span class="glyphicon glyphicon-remove"></span></button>
        </span>
</div>