<div class="input-group">
    {% set type = 'text' %}
    {{ form_field(field, {'placeholder': field.options.placeholder|default('Search')|trans}) }}
    <span class="input-group-btn">
        <button class="btn btn-default clear-search" type="button">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </span>
</div>
