{% extends 'index.twig' %}

{% block title %}Blog Homepage{% endblock %}

{% block content %}
    <div class="blog-home-container">
    {% block blog_posts %}
        {% for post in posts %}
            {% include '@Blog/blog_post.twig' %}
        {% else %}
            <div class="well well-lg">{% trans %}No Results{% endtrans %}</div>
        {% endfor %}
    {% endblock %}

    {% block blog_posts_pagination %}
        {{ pagination(total_pages, current_page, 'blog_archive') }}
    {% endblock %}
    </div>
{% endblock %}