{% extends '@admin/simple_page.twig' %}

{% block title %}
    {% trans %}Updates{% endtrans %}
{% endblock %}

{% block content_body %}
    <div class="updater">
        <div class="app_name">
            <h1 style="margin-top: 0px;">{{ app_config.info.name }}</h1>
        </div>

        {% include '@AVScripts/admin/update_info.twig' %}
    </div>
{% endblock %}
