{% extends '@admin/simple_page.twig' %}

{% block title %}Copyright Removal{% endblock %}

{% block content_body %}
    {% if api_response.success == false %}
        {{ api_response.error }}
    {% elseif api_response.copyright_status == false %}
        <div class="alert alert-danger">
            {% trans with {email: 'sales@avscripts.net'} %}You do not seem to have purchased copyright removal. If you think you are seeing this message in error, contact {email}{% endtrans %}
        </div>

        <div class="alert alert-info">{% trans %}If you would like to purchase copyright removal visit the customer area at <a class="alert-link" href="http://www.avscripts.net/store/customers">http://www.avscripts.net/store/customers</a>. When logged in, find your license and click the 'Addon Packages' tab and from there you can purchase additional addons including copyright removal.{% endtrans %}</div>
    {% else %}
        <div class="alert alert-success">
            {% trans %}Thanks for purchasing copyright removal. You can enter your own copyright notice below. Return to this page any time to change it.{% endtrans %}
        </div>
        {{ form(form) }}
    {% endif %}
{% endblock %}
