<div id="avcms-game-container" data-original-width="{{ game.width }}" data-original-height="{{ game.height }}">
    <div id="avcms-game-container-inner" style="width: {{ game.width }}px;height: {{ game.height }}px;margin: auto;">
        {% block embed_code %}{% endblock %}
    </div>
</div>
