{% extends '@admin/editor.twig' %}

{% block title %}
    {% trans %}Manage Resolutions{% endtrans %}
{% endblock %}

{% block editor_title %}
    {{ block('title') }}
{% endblock %}

{% block editor_content %}
    <div class="alert alert-info">
        The wallpaper resolutions file is in the YAML format. Find out more about it <a href="http://symfony.com/doc/current/components/yaml/yaml_format.html" class="alert-link">here</a>.
    </div>

    {{ form(form) }}
{% endblock %}
