{% extends '@admin/edit_item.twig' %}

{% block title %}
    {% trans %}Import From Folder{% endtrans %}: {{ folder }}
{% endblock %}

{% block editor_title %}
    <span class="light">{% trans %}Import From Folder{% endtrans %}:</span> {{ folder }}
{% endblock %}
