<div class="new-comment">
    {{ form(form) }}
</div>

<div class="comments-area" data-ajax-url="{{ url('comments', {content_type: content_type, content_id: content_id}) }}">
</div>

<div class="load-comments">
    <button class="btn btn-primary load-comments-button">{% trans %}Load Comments{% endtrans %}</button>
</div>