{% extends '@admin/browser.twig' %}

{% block finder_title %}
    {% trans %}Comments{% endtrans %}
{% endblock %}

{% block browser_class %}browser fluid-browser{% endblock %}

{% block finder %}
    <div data-url="{{ url('comments_finder') }}">
        {{ render(path('comments_finder')) }}
    </div>
{% endblock %}