<p>
    <span style="font-size: 30px">{{ total_games }}</span>
    {% trans %}Games{% endtrans %}
</p>

<p>
    <span style="font-size: 30px">{{ total_plays }}</span>
    {% trans %}Plays{% endtrans %}
</p>

<p>
    <span style="font-size: 30px">{{ total_likes }}</span>
    {% trans %}Likes{% endtrans %}
</p>
