{% extends 'index.twig' %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .forum-topic-info {
            display: none;
        }

        .forum-topic-other {
            display: none;
        }

        .games-row .col-sm-6 {
            margin-bottom: 10px;
        }

        .games-row .col-sm-6:last-child {
            margin-bottom: 0px;
        }

        @media(min-width:768px){
            .forum-topic-info {
                display: inherit;
            }

            .forum-topic-other {
                display: inherit;
            }

            .games-row .col-sm-6 {
                margin-bottom: 0px;
            }
        }
    </style>
{% endblock %}

{% block title %}Blog Homepage{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            Hello {{ user.username }}, lets get bloggingz!
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            Topic
                        </div>
                        <div class="col-sm-3 forum-topic-info">
                            Topic info
                        </div>
                        <div class="col-sm-3 forum-topic-other">
                            Last poster
                        </div>
                    </div>
                </div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img src="http://distilleryimage3.ak.instagram.com/44e7ebda7aee11e3b2210e2d95a78a0b_8.jpg" width="40" height="40" />
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">Pretend Topic</h5>
                                        Started by Andy
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 forum-topic-info">
                                Replies: 16<br/>
                                Views: 302
                            </div>

                            <div class="col-sm-3 forum-topic-other">
                                Andy
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>


            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h2>News happening somewhere</h2>
                    Written by Andy - 27 March
                </div>

                <div class="panel-body">
                    <div class="row games-row">
                        <div class="col-sm-6">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="http://distilleryimage3.ak.instagram.com/44e7ebda7aee11e3b2210e2d95a78a0b_8.jpg" width="64" height="64" />
                                </a>
                                <div class="media-body">
                                    <h5 class="media-heading">Game Name</h5>
                                    Started by Andy
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="http://distilleryimage3.ak.instagram.com/44e7ebda7aee11e3b2210e2d95a78a0b_8.jpg" width="64" height="64" />
                                </a>
                                <div class="media-body">
                                    <h5 class="media-heading"><a href="#">Game Name</a></h5>
                                    Started by Andy
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h2>News happening somewhere</h2>
                    Written by Andy - 27 March
                </div>

                <div class="panel-body">
                    <div class="thumbnail">
                        <img data-src="holder.js/300x200" alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5>A sidebar module</h5>
                </div>

                <div class="panel-body">
                    This is the main content
                </div>
            </div>
        </div>
    </div>
{% endblock %}