{% extends '@admin/finder.twig' %}

{% block finder_header_titles %}

{% endblock %}

{% block item_title %}
    <div class="finder-item-title" data-field="name">
        {{ item.name }}
    </div>
{% endblock %}

{% block item_options %}
    <div class="btn-group">
        {{ buttons.edit('user_groups_admin_edit', item.id) }}

        {% if item.customPermissions == 1 %}
            <a class="btn btn-xs btn-default" href="{{ url('user_groups_admin_manage_permissions', {id: item.id}) }}"><span class="glyphicon glyphicon-ok-circle"></span> {% trans %}Permissions{% endtrans %}</a>
        {% endif %}

        {% if item.owner != 'app' %}
            {{ buttons.delete('user_groups_admin_delete') }}
        {% endif %}
    </div>
{% endblock %}

{% block item_checkbox %}{% endblock %}

{% block item_extended_inner %}

{% endblock %}
