{% extends '@email/main.twig' %}

{% block content %}
    <p><b>{% trans with {username: sender.username} %}You have received a new private message from {username}{% endtrans %}</b></p>

    <p>{{ message.body|nl2br }}</p>

    <p><a href="{{ path('read_private_message', {'id': message.id}) }}">{% trans %}Read This Message and Reply{% endtrans %}</a></p>

    <p><a href="{{ path('private_messages_inbox') }}">{% trans %}Your Inbox{% endtrans %}</a></p>
{% endblock %}
