<div class="text-center">
    <div class="input-group">
            <span class="btn btn-default btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>&nbsp;
                <span>{% trans %}Select files...{% endtrans %}</span>
                <input type="file" multiple class="bulk-file-upload" name="file" />
            </span>

        &nbsp;<span class="file-upload-progress"></span>
    </div>
</div>
