<p>
    <span style="font-size: 30px">{{ total_images }}</span>
    {% trans %}Images{% endtrans %}
</p>

<p>
    <span style="font-size: 30px">{{ total_hits|default(0) }}</span>
    {% trans %}Hits{% endtrans %}
</p>

<p>
    <span style="font-size: 30px">{{ total_likes|default(0) }}</span>
    {% trans %}Likes{% endtrans %}
</p>
