{% for string, usages in translation_strings %}
    {{ string }} - {{ usages|length }}<br/>
    {% for usage in usages %}
        <span style="font-size:8px;">{{ usage.file }}</span><br>
    {% endfor %}
{% endfor %}