<div class="ajax-{{ ajax_depth }}-inner">
    <div style="display:none;" class="ajax_page_title">{% block title %}{% endblock %}</div>

    {% block main_content %}
        {% block editor %}

        {% endblock %}
    {% endblock %}

    {% block finder %}

    {% endblock %}

</div>