{% import '@admin/macros/finder_buttons.twig' as buttons %}

{% block finder_header %}
    <div class="browser-finder-header">
        <div class="page">
            {% trans %}Page{% endtrans %} {{ page }}
        </div>
        <div class="fields">
            <div class="container-fluid">
                <div class="row">
                    {% block finder_header_titles %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block finder_items %}
    {% for item in items %}
        <div class="browser-finder-item" data-id="{{ item.id }}">
            {% block item_checkbox %}
                <div class="finder-item-checkbox-container">
                    <input type="checkbox" />
                </div>
            {% endblock %}

            <div class="finder-item-main">
                {% block item_title %}
                    <div class="finder-item-title" data-field="title">
                        {{ item.title }}
                    </div>
                {% endblock %}

                {% block item_options %}

                {% endblock %}
            </div>
            <div class="finder-item-extended">
                {% block item_extended %}
                    <div class="container-fluid">
                        <div class="row">
                            {% block item_extended_inner %}{% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    {% else %}
        <div style="display:none;">NORESULTS</div>
        <div class="finder-no-results">
            {% trans %}No results{% endtrans %}
        </div>
    {% endfor %}
{% endblock %}