{% extends ajax_depth ? '@admin/ajax_page.twig' : '@admin/index.twig' %}

{% block title %}Untitled{% endblock %}

{% block main_content %}
    <div class="simple-header">
        <div class="simple-header-inner">
            {% block content_header %}{% endblock %}
        </div>
    </div>

    <div class="simple-content {% block animation_style %}animated fadeInRight{% endblock %}">{% block content_body %}{% endblock %}</div>
{% endblock %}