{% extends '@Installer/installer_index.twig' %}

{% block title %}Update Bundles{% endblock %}

{% block content %}
    {% for bundle_name, bundle_dir in update_bundles %}
        <div class="well well-sm" data-bundle-ajax-updater="{{ url('update_bundle', {bundle: bundle_name}) }}">
            <div class="row">
                <div class="col-md-6">
                    <strong>{{ bundle_name }}</strong>
                    <div class="status-text">Pending...</div>
                </div>
                <div class="col-md-6 show-progress" style="padding-top:10px;display:none;">
                        <div class="progress" style="margin-bottom:0px">
                            <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only">45% Complete</span>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <script type="text/javascript">
        $('[data-bundle-ajax-updater]').each(function(){
            var container = $(this);
            var url = container.data('bundle-ajax-updater');

            container.find('.show-progress').show();

            $.get(url, {}, function(data) {
                if (data.success == true) {
                    container.css('border-color', 'green');
                    container.find('.status-text').text('Bundle Updated');
                }
                else {
                    if (data.error.severity == 'danger') {
                        container.css('border-color', 'red');
                        container.find('.status-text').text(data.error.message);
                    }
                    else {
                        container.css('border-color', 'blue');
                        container.find('.status-text').text(data.error.message);
                    }
                }

                container.find('.show-progress').hide();
            }, 'json').fail(function() {
                alert('The installer gave a PHP syntax error');
            });
        })
    </script>
{% endblock %}