$header-base-color: #c9dccb;
$header-text-color: darken($header-base-color, 40);
$panel-header-color: #f6f2eb;

h1, h2, h3, h3, h5, h6 {
  font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif;
  font-weight: 300;
}

a {
  color: $header-text-color;
}

.panel, .panel-heading {
  border-radius: 0px;
}

.panel-default {
  border-color: darken($panel-header-color, 5);

  .panel-heading {
    background-color: $panel-header-color;
    color: darken($panel-header-color, 40);
  }
}

.btn-link {
  color: $header-text-color;
}

.header {
  background-color: $header-base-color;
  color: $header-text-color;

  a {
    color: $header-text-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: lighten($header-text-color, 10);
  }

  h1 {
    margin-top: 0px;
  }

  .user-area {
    .user-area-inner {
      margin-top: 5px;
    }
  }
}

.header-extra {
  background-color: lighten($header-base-color, 15);
}

.logo-text {
  margin-top: 15px;
}

.logo-image {
  margin: 10px 0px;
}

.blog-post-container {
    border-bottom: 2px solid #e5e6e7;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

footer {
    margin-top: 10px;
}

.footer-menu {
  text-align: center;
  margin-bottom: 10px;
}

select[name=author] {
    width: 500px;
}

.avcms-main {
    margin-top: 10px;
}

.main-menu {
  margin-bottom: 0px;
  background-color: darken($header-base-color, 2);
  color: $header-text-color;
  border-bottom: 0px;

  .navbar-nav>li>a, .navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    color: $header-text-color;
  }

  .navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
    background-color: lighten($header-base-color, 10);
    color: $header-text-color;
  }

  .navbar-collapse, .navbar-form {
    border-color: darken($header-base-color, 5);
  }

  .navbar-toggle {
    float: left;
    margin-left: 15px;
  }

  .navbar-toggle:focus, .navbar-toggle:hover {
    background: none;
  }
}

.search-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 120px!important;
  border-left:0px;
  border-radius: 0px;
  float: none!important;
  vertical-align: middle!important;
  display: inline!important;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 5px;
  padding: 0px 6px 2px 6px;
  margin: 10px 10px 0px 0px;
  box-shadow: #595959 0px 0px 1px;
  display: none;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: $header-text-color;
  }
}

@media (min-width: 992px) {
  .header {
    .user-area {
      text-align: right;

      .user-area-inner {
        margin-top: 15px;
        background-color: lighten($header-base-color, 5);
        padding: 4px 10px;
        display: inline-block;
        border: 1px solid lighten($header-base-color, 6);
        border-radius: 4px;
      }
    }
  }
}

.copyright {
  text-align: center;
  margin-bottom: 8px;
}


// GAMES

.box {
  margin-bottom: 15px;
}

.box-primary {
  border: 1px solid darken($panel-header-color, 10);

  .box-top {
    background-color: $panel-header-color;
    padding: 10px;
    border-bottom: 1px solid darken($panel-header-color, 10);
    color: darken($panel-header-color, 40);


    h1, h2, h3, h4, h5, h6 {
      margin: 0px;
      font-weight: normal;
      color: darken($panel-header-color, 50);
      font-family: "HelveticaNeue-Light", sans-serif;
    }
  }

  .box-main {
    padding: 15px;
  }

  .box-footer {
    background-color: lighten($panel-header-color, 2);
    padding: 10px;

    .btn-default {
      border-color: darken($panel-header-color, 20);
      background: lighten($panel-header-color, 3);
      color: darken($panel-header-color, 50);
    }
  }
}

.browse-games-details:first-child {
  margin-top: 15px;
}
