h1, h2, h3, h3, h5, h6 {
  font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif;
  font-weight: 300; }

a {
  color: #55845a; }

.panel, .panel-heading {
  border-radius: 0px; }

.panel-default {
  border-color: #eee7d9; }
  .panel-default .panel-heading {
    background-color: #f6f2eb;
    color: #b7975e; }

.btn-link {
  color: #55845a; }

.header {
  background-color: #c9dccb;
  color: #55845a; }
  .header a {
    color: #55845a;
    text-decoration: none; }
  .header a:hover {
    text-decoration: none;
    color: #6ca072; }
  .header h1 {
    margin-top: 0px; }
  .header .user-area .user-area-inner {
    margin-top: 5px; }

.header-extra {
  background-color: #f7faf8; }

.logo-text {
  margin-top: 15px; }

.logo-image {
  margin: 10px 0px; }

.blog-post-container {
  border-bottom: 2px solid #e5e6e7;
  margin-bottom: 10px;
  padding-bottom: 5px; }

footer {
  margin-top: 10px; }

.footer-menu {
  text-align: center;
  margin-bottom: 10px; }

select[name=author] {
  width: 500px; }

.avcms-main {
  margin-top: 10px; }

.main-menu {
  margin-bottom: 0px;
  background-color: #c3d8c5;
  color: #55845a;
  border-bottom: 0px; }
  .main-menu .navbar-nav > li > a, .main-menu .navbar-nav > li > a:hover, .main-menu .navbar-nav > li > a:focus {
    color: #55845a; }
  .main-menu .navbar-nav > .open > a, .main-menu .navbar-nav > .open > a:hover, .main-menu .navbar-nav > .open > a:focus {
    background-color: #e8f0e9;
    color: #55845a; }
  .main-menu .navbar-collapse, .main-menu .navbar-form {
    border-color: #bad2bc; }
  .main-menu .navbar-toggle {
    float: left;
    margin-left: 15px; }
  .main-menu .navbar-toggle:focus, .main-menu .navbar-toggle:hover {
    background: none; }

.search-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 120px !important;
  border-left: 0px;
  border-radius: 0px;
  float: none !important;
  vertical-align: middle !important;
  display: inline !important; }

.loader {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 5px;
  padding: 0px 6px 2px 6px;
  margin: 10px 10px 0px 0px;
  box-shadow: #595959 0px 0px 1px;
  display: none; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #55845a; } }
@media (min-width: 992px) {
  .header .user-area {
    text-align: right; }
    .header .user-area .user-area-inner {
      margin-top: 15px;
      background-color: #d8e6da;
      padding: 4px 10px;
      display: inline-block;
      border: 1px solid #dce8dd;
      border-radius: 4px; } }
.copyright {
  text-align: center;
  margin-bottom: 8px; }

.box {
  margin-bottom: 15px; }

.game-box {
  border: 1px solid #e6dbc8; }
  .game-box .box-top {
    background-color: #f6f2eb;
    padding: 10px;
    border-bottom: 1px solid #e6dbc8;
    color: #b7975e; }
    .game-box .box-top h1, .game-box .box-top h2, .game-box .box-top h3, .game-box .box-top h4, .game-box .box-top h5, .game-box .box-top h6 {
      margin: 0px;
      font-weight: normal;
      color: #9c7d46;
      font-family: "HelveticaNeue-Light", sans-serif; }
  .game-box .box-main {
    padding: 15px; }
  .game-box .box-footer {
    background-color: #f9f7f2;
    padding: 10px; }
    .game-box .box-footer .btn-default {
      border-color: #d6c4a5;
      background: #fbf9f6;
      color: #9c7d46; }
