<div class="input-group">
    <span class="btn btn-sm btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>&nbsp;
        <span>{% trans %}Select file...{% endtrans %}</span>
        {{ form_field(field, {class: 'file-upload'}) }}
    </span>

    &nbsp;<span class="file-upload-progress"></span>
</div>
