<div class="input-group">
    {% set type = 'text' %}
    {{ form_field(field, {class: 'grab-file-field'}) }}
    <span class="input-group-btn">
        <button class="btn btn-default grab-file-button" type="button">
            <span class="glyphicon glyphicon-hdd"></span>
        </button>
    </span>
</div>
