<div class="clearfix" style="margin-bottom: 10px;">

    {% if prev %}
        <div class="pull-left">
            <a class="btn btn-default btn-lg" href="{{ path('wallpaper_preview', {'slug': prev.slug, 'resolution': resolution}) }}"><span class="glyphicon glyphicon-chevron-left"></span> {% trans %}Previous Wallpaper{% endtrans %}</a>
        </div>
    {% endif %}

    {% if next %}
    <div class="pull-right">
        <a class="btn btn-default btn-lg" href="{{ path('wallpaper_preview', {'slug': next.slug, 'resolution': resolution}) }}">{% trans %}Next Wallpaper{% endtrans %} <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    {% endif %}

</div>
